@import "tailwindcss";

html {
  font-size: 14px;
}

@theme {
  --font-inter: "Inter", serif;

  --color-green: hsl(75, 94%, 57%);

  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);

  --text-base: 14px;
}
